
.navbar{
position: relative;
height: 3rem;
background-color: #144677 !important;
 div img{
     height: 39px;
 }
}
.navbar-toggler{
position: absolute;
right: 10px;
border: none;
    button{
    background-color: #144677 !important;
    border: none;   
    }
    span   {
        margin-right: 5px;
        color:white;
        font-weight: 100;
    }
}

.sub-div{
   color: #144677;
    h5{
        text-align: center;
        font-weight: 100;
        span{
            font-weight: 600;
        }
    }
    .tab-div-1{
        display: flex;
        justify-content: center;
        div{
            margin-right: 8px;
            margin-bottom: 5px;
        }
    }
}
.main-tab-div{
    display: flex;
    justify-content: center;
}
.tab-div{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color:white;
    font-weight: 600;
    background-color: #85a02b;   
    height: 2rem;
    width: auto;
    max-width: 25vw;
    padding: 0 1vw 0 1vw;
    cursor: pointer;
    position: relative;
    overflow: auto;
}
.inner-tab-div{
    position: absolute;
    height: 0px;
    width: 0px;
    float: center;
    margin-top: -6px;
    margin-left: 7%;
    border-bottom: transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #85a02b;
    }
.table-div{
    padding: 0 3vw 0 3vw;
    overflow-x: auto;
table {
    thead tr{
    background-color: #e7e7e7;
    th{
        font-weight: 100;
        color: #8c8a87;
    }

}
}
.td-2{
    display: flex;
    font-weight: 100;
    img{
        width: 27px;
        height: 26px;
    }
    .campaign-label1{
        color:#687891
    }
}
.td-3{
    font-weight: 100;
    color:#687891;
    img{
        width: 67px;
    height: 25px;
    }
}
.td-4-div{
    display: flex;
    color: #8c8a87;
    div{
        margin-right:7px;
        text-align: center;
        p{
            margin: 0;
            font-size: 12px;
        }
    }
}
.date-picker{
    display: flex;
    height: 25px;
    input{
        //display: none;
        visibility: hidden;
        width: 0;
    }
    .mat-datepicker-toggle{
        margin-top: -9px;
        color:#2b6cd2;
    }
}

.date-picker-label{
    color:#2b6cd2;
}
}

.back-color{
    background-color: white;
    color: #85a02b;    
    border: solid 2px  #85a02b;
}
.menu-drop {
    margin: -8px 0;
    .menu-head{
        font-weight: 600;
    }
    mat-radio-group{
        background: transparent;
        transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        span{
            background: transparent;
            margin: 0 7px;
        }
        .default{
            margin: 0 0 0 5px;
        }
        &.active-lang{
            background: #E7F2FE;
            transition: all .3s;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;
            span{
                color: #408DF2;
                background: transparent;
            }
            .default{
                color: inherit;
            }
        }
        mat-radio-button{
            background: transparent; 
            img{
                width: 20px;
            }
        }
    }
    button {
        padding: 0 15px;
        color: #536c79;
        font-size: 14px;
        letter-spacing: 0.6px;
        margin-left: 0 !important;
        border-bottom: solid 1px #ececec;
        img {
            width: 18px;
            margin-right: 8px;
        }
    }
     :hover {
        color: #424242;
    }
}
.mat-menu-div{
    text-align: end;
    margin-top: 10px;
    margin-right: 8px;
}

@media (min-width: 0) and (max-width: 767px) {
    .tab-div{
        height: 3rem;
    }
}